# Ignore files and directories for VS Code extension packaging
.vscode/**
.vscode-test/**
.github/**
.gitignore
*.vsix
tests/**
build/**
node_modules/**
CHANGELOG.md
package-lock.json
vsc-extension-quickstart.md
project-notes.md
requisites.md