# Ignore files and directories for VS Code extension packaging
.vscode/**
.vscode-test/**
build/**
node_modules/**
scripts/**
tests/**
.github/**
.gitignore
.nvmrc
*.vsix
CHANGELOG.md
package-lock.json
vsc-extension-quickstart.md
project-notes.md
requisites.md